

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support, .chatbox__support1, .chatbox__support2, .chatbox__support3, .chatbox__support4, .chatbox__support5, .chatbox__support6
, .chatbox__support7, .chatbox__support8, .chatbox__support9, .chatbox__support10, .chatbox__support11, .chatbox__support12,
.chatbox__support13,.chatbox__support14, .chatbox__support15,.chatbox__support16, .chatbox__support17 {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 40px;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}
.chatbox__button_pix {
    text-align: right;
    position: fixed;
    right: 30px;
    bottom: 20px;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}


